﻿@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
<p>Click on the button for the test you would like to run.</p>
<div class="text-center  col-md-12">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="RunBpp" method="post">
            <input type="submit" name="RunBpp" value="BPP"/>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="RunPp" method="post">
            <input type="submit" name="RunPp" value="PP"/>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="RunPrimecomp" method="post">
            <input type="submit" name="RunPrimecomp" value="Primecomp"/>
        </form>
    </div>

</div>
